// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/
:root {
  // bank green
  --ion-color-bank-green: #023436;
  --ion-color-bank-green-rgb: 2, 52, 54;
  --ion-color-bank-green-contrast: #ffffff;
  --ion-color-bank-green-contrast-rgb: 255, 255, 255;
  --ion-color-bank-green-shade: #022e30;
  --ion-color-bank-green-tint: #1b484a;

  // bank gray
  --ion-color-bank-gray: #b4b9bd;
  --ion-color-bank-gray-rgb: 180, 185, 189;
  --ion-color-bank-gray-contrast: #000000;
  --ion-color-bank-gray-contrast-rgb: 0, 0, 0;
  --ion-color-bank-gray-shade: #9ea3a6;
  --ion-color-bank-gray-tint: #bcc0c4;

  --hi-green: #75feac;
  --mid-green: #03b5aa;
  --lo-green: #023436;

  --white: #ffffff;
}

.ion-color-bank-green {
  --ion-color-base: var(--ion-color-bank-green);
  --ion-color-base-rgb: var(--ion-color-bank-green-rgb);
  --ion-color-contrast: var(--ion-color-bank-green-contrast);
  --ion-color-contrast-rgb: var(--ion-color-bank-green-contrast-rgb);
  --ion-color-shade: var(--ion-color-bank-green-shade);
  --ion-color-tint: var(--ion-color-bank-green-tint);
}

.ion-color-bank-gray {
  --ion-color-base: var(--ion-color-bank-gray);
  --ion-color-base-rgb: var(--ion-color-bank-gray-rgb);
  --ion-color-contrast: var(--ion-color-bank-gray-contrast);
  --ion-color-contrast-rgb: var(--ion-color-bank-gray-contrast-rgb);
  --ion-color-shade: var(--ion-color-bank-gray-shade);
  --ion-color-tint: var(--ion-color-bank-gray-tint);
}
