<ion-header class="ion-no-border">
  <ion-toolbar color="bank-green" mode="md">
    <div class="ion-padding-start welcome-header">
      <span>Welcome</span>
      <ion-title class="ion-no-padding">Kal-el A.</ion-title>
    </div>

    <div slot="end" mode="ios" class="ion-padding-end avatar">
      <img src="../../../assets/image/avatar-sm.jpg" />
    </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <section class="accounts">
    <div class="neo-swiper-holder">
      <swiper
        [config]="config"
        (slideChange)="onSlideChange($event)"
        class="neo-slider"
      >
        <ng-template swiperSlide *ngFor="let slide of slides">
          <div class="account-card">
            <div class="account-card_inner">
              <span class="account-title">{{slide.title}}</span>
              <p class="account-balance">
                {{format(slide.balance, 2, slide.currency)}}
              </p>
              <span class="account-number">{{slide.account}}</span>
            </div>
          </div>
        </ng-template>
      </swiper>
    </div>
  </section>
  <!-- <div class="bottom-list"></div> -->
</ion-content>
