// ion-content {
//   --background: var(--ion-color-bank-green);
// }
ion-title {
  font-weight: 700;
}

.welcome-header {
  span {
    color: var(--mid-green);
  }
}

.avatar {
  position: relative;
  // z-index: 1;
  &::after {
    content: "";
    position: absolute;
    height: 2.6rem;
    width: 2.6rem;
    top: -1px;
    left: -1px;
    background: linear-gradient(
      120.67deg,
      #03b5aa 17.45%,
      rgba(162, 167, 127, 0.09) 105.58%
    );
    border-radius: 50%;
  }

  img {
    z-index: 5;
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 50%;
    position: relative;

    border: 3px solid var(--lo-green);
    // padding: 3px;
  }
}

.accounts {
  background: var(--lo-green);
  min-height: 20rem;
}
